-- CentRAG Production Schema DDL --
-- Generated automatically from centrag.models --

-- 1. EXTENSIONS --
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- 2. TABLES --

-- Table: teams

CREATE TABLE teams (
	id UUID NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	tier VARCHAR(50) NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	settings JSONB NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;

-- Table: api_keys

CREATE TABLE api_keys (
	id UUID NOT NULL, 
	team_id UUID NOT NULL, 
	key_hash VARCHAR(64) NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	last_used_at TIMESTAMP WITH TIME ZONE, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	expires_at TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(team_id) REFERENCES teams (id) ON DELETE CASCADE, 
	UNIQUE (key_hash)
)


;

-- Table: documents

CREATE TABLE documents (
	id UUID NOT NULL, 
	team_id UUID NOT NULL, 
	namespace VARCHAR(255) NOT NULL, 
	filename VARCHAR(512) NOT NULL, 
	s3_key VARCHAR(1024) NOT NULL, 
	content_type VARCHAR(100) NOT NULL, 
	size_bytes INTEGER NOT NULL, 
	chunk_count INTEGER NOT NULL, 
	status VARCHAR(50) NOT NULL, 
	error_message TEXT, 
	metadata JSONB NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	processed_at TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(team_id) REFERENCES teams (id) ON DELETE CASCADE
)


;

-- Table: memory_entries

CREATE TABLE memory_entries (
	id UUID NOT NULL, 
	team_id UUID NOT NULL, 
	user_context VARCHAR(255), 
	memory_content TEXT NOT NULL, 
	memory_type VARCHAR(50) NOT NULL, 
	relevance_score FLOAT NOT NULL, 
	vector_id VARCHAR(100) NOT NULL, 
	valid_from TIMESTAMP WITH TIME ZONE NOT NULL, 
	valid_to TIMESTAMP WITH TIME ZONE, 
	superseded_by UUID, 
	decay_score FLOAT NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	last_accessed TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(team_id) REFERENCES teams (id) ON DELETE CASCADE, 
	FOREIGN KEY(superseded_by) REFERENCES memory_entries (id)
)


;

-- Table: chunks

CREATE TABLE chunks (
	id UUID NOT NULL, 
	document_id UUID NOT NULL, 
	team_id UUID NOT NULL, 
	chunk_index INTEGER NOT NULL, 
	content TEXT NOT NULL, 
	token_count INTEGER NOT NULL, 
	vector_id VARCHAR(100) NOT NULL, 
	metadata JSONB NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(document_id) REFERENCES documents (id) ON DELETE CASCADE, 
	FOREIGN KEY(team_id) REFERENCES teams (id) ON DELETE CASCADE
)


;

-- Table: feedback

CREATE TABLE feedback (
	id UUID NOT NULL, 
	team_id UUID NOT NULL, 
	request_id VARCHAR(255), 
	document_id UUID, 
	query TEXT NOT NULL, 
	answer TEXT NOT NULL, 
	score INTEGER NOT NULL, 
	comments TEXT, 
	metadata JSONB NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(team_id) REFERENCES teams (id) ON DELETE CASCADE, 
	FOREIGN KEY(document_id) REFERENCES documents (id) ON DELETE SET NULL
)


;

-- 3. ROW LEVEL SECURITY POLICIES --

-- Enable RLS on all tenant-scoped tables
ALTER TABLE documents ENABLE ROW LEVEL SECURITY;
ALTER TABLE documents FORCE ROW LEVEL SECURITY;
ALTER TABLE chunks ENABLE ROW LEVEL SECURITY;
ALTER TABLE chunks FORCE ROW LEVEL SECURITY;
ALTER TABLE memory_entries ENABLE ROW LEVEL SECURITY;
ALTER TABLE memory_entries FORCE ROW LEVEL SECURITY;
ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE audit_logs FORCE ROW LEVEL SECURITY;
ALTER TABLE feedback ENABLE ROW LEVEL SECURITY;
ALTER TABLE feedback FORCE ROW LEVEL SECURITY;

-- Create policies: users can only see rows where team_id matches session variable
CREATE POLICY team_isolation_documents ON documents
    USING (team_id = current_setting('app.current_team_id')::uuid);

CREATE POLICY team_isolation_chunks ON chunks
    USING (team_id = current_setting('app.current_team_id')::uuid);

CREATE POLICY team_isolation_memory ON memory_entries
    USING (team_id = current_setting('app.current_team_id')::uuid);

CREATE POLICY team_isolation_audit ON audit_logs
    USING (team_id = current_setting('app.current_team_id')::uuid);

CREATE POLICY team_isolation_feedback ON feedback
    USING (team_id = current_setting('app.current_team_id')::uuid);

